asgiref==3.7.2
certifi
Django==4.2.1
django-redis==5.4.0
djangorestframework==3.14.0
Pillow==9.5.0
python-dotenv==1.0.0
pytz
redis==5.0.1
sentry-sdk==1.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.6

