{% load static%}

<div class="btn-group px-2 shadow-0 ">
    <button type="button" class="btn btn-sm btn-danger nav-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Add
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'create-asset'%}">Add Asset</a>
      <a class="dropdown-item" href="{% url 'update-asset' %}">Update Asset</a>
      <a class="dropdown-item" href="{% url 'create-employee' %}">Add Employee</a>
    </div>
  </div>

  <div class="btn-group px-2 shadow-0  ">
    <button type="button" class="btn btn-sm btn-danger nav-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Asign & Return
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'asset-asign'%}">Asign Asset</a>
      <a class="dropdown-item" href="{% url 'asset-return'%}">Return Asset</a>
      
    </div>
  </div>
  
  <div class="btn-group px-2 shadow-0  ">
    <button type="button" class="btn btn-sm btn-danger nav-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      View Data
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'asset-view'%}">Assets</a>
      <a class="dropdown-item" href="{% url 'asset-return'%}">Employee</a>
      <a class="dropdown-item" href="{% url 'asset-return'%}"> Asigned Asset</a>
      <a class="dropdown-item" href="{% url 'asset-return'%}"> Returned Asset</a>
      <a class="dropdown-item" href="{% url 'asset-return'%}">Bad Assets</a>
      
    </div>
  </div>