{% load static%}

<aside>


    <div class=" price">
        <h5>Price range</h5>
        <div class="row">
            <div class="col-md-4"><input type="text" class="form-control" id="priceFrom" name="from"></div>
            <div class="col-1 d-flex justify-content-center">To</div>
            <div class="col-md-4"><input type="text" class="form-control" id="priceTo" name="To"></div>
            <div class="col-md-1">
                <button role="button" class="btn btn-success" id="price_range">Go</button>
            </div>


        </div>
    </div>
    <div class=" mt-3 category">

        <h5> Categories</h5>

    </div>


    <div class=" mt-3 brand">
        <h5> Brands</h5>

    </div>
    <div class=" mt-3 seller">
        <h5> Sellers</h5>

    </div>
    <div class=" mt-3 war">
        <h5> Warrenties</h5>

    </div>
</aside>